<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid </title>
    <link rel="stylesheet" href="../css/covid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

</head>
<body>
    <div class="container">
    <div class="nav">
        <div class="topic">
            <a href="../template/health.html">HealthBag</a>
        </div>
        <div class="links">
            <a href="./heart.html" id="h">Heart Disease</a>
            <a href="./liver.html"  id="l">Liver Disease</a>
            <a href="./covid.html"  id="c">Covid</a>
            <a href="./diabetes.html"  id="d">Diabetes</a>
        </div>
        <div id="menu-btn" class="fas fa-bars"></div>
    </div>
    <div class="head">

        <h3>Know Your Chances Of Getting Covid In One Click</h3>
    </div>
    <div class="bigbox">

    
        <div class="formheart">
            <img src="../images/formcovid.jpg">
        </div>
    <div class = options>
        <div class="diabetesphoto">

        </div>
        <form id ='form'>
            
            <div class="input-box1">
                <label for="Breathing_Problem">Breathing Problem</label>
                
                <div class="opt">
                    <label for="Yes">Yes</label>
                    <input type="radio"  name="Breathing_Problem" value="1">
                
                    <label for="No">No</label>
                    <input type="radio"  name="Breathing_Problem" value="0">
                </div>
                
            </div>
            <br>
            <div class="input-box1">
                <label for="Fever">Fever</label>
                <div class="opt">
                    <label for="Yes">Yes</label>
                    <input type="radio" name="Fever" value="1">
                
                    <label for="No">No</label>
                    <input type="radio"  name="Fever" value="0">
                </div>
            </div>
            <br>
            <div class="input-box1">
                <label for="Dry_Cough">Dry Cough</label>
                <div class="opt">
                    <label for="Yes">Yes</label>
                    <input type="radio" name="Dry_Cough" value="1">
                
                    <label for="No">No</label>
                    <input type="radio"  name="Dry_Cough" value="0">
                </div>
            </div>
            <br>
            <div class="input-box1">
                <label for="Sore_throat">Sore_throat</label>
                <div class="opt">
                    <label for="Yes">Yes</label>
                    <input type="radio" name="Sore_throat" value="1">
                
                    <label for="No">No</label>
                    <input type="radio" name="Sore_throat" value="0">
                </div>
            </div>
            <br>
            
            
            <div class="input-box1">
            
                <label for="Running_Nose">Running Nose</label>
                <div class="opt">
                    <label for="Yes">Yes</label>
                    <input type="radio"  name="Running_Nose" value="1">
                
                    <label for="No">No</label>
                    <input type="radio" name="Running_Nose" value="0">
                </div>  
            </div>
            <br>
            <div class="input-box1">
                <label for="Headache">Headache</label>
                <div class="opt">
                    <label for="Yes">Yes</label>
                    <input type="radio"  name="Headache" value="1">
                
                    <label for="No">No</label>
                    <input type="radio"  name="Headache" value="0">
                </div>   
            </div>
                <br>
                <div class="input-box1">
                    <label for="Hyper_Tension">Hyper Tension</label>
                    <div class="opt">
                        <label for="Yes">Yes</label>
                        <input type="radio"  name="Hyper_Tension" value="1">
                    
                        <label for="No">No</label>
                        <input type="radio" name="Hyper_Tension" value="0">
                    </div>
                
            </div>
            <br>
                <div class="input-box1">
                    <label for="Fatigue">Fatigue</label>
                    <div class="opt">
                        <label for="Yes">Yes</label>
                        <input type="radio"  name="Fatigue" value="1">
                    
                        <label for="No">No</label>
                        <input type="radio" name="Fatigue" value="0">
                    </div>
                </div>
                <br>
                <div class="input-box1">
                    <label for="Gastrointestinal">Gastrointestinal</label>
                    <div class="opt">
                        <label for="Yes">Yes</label>
                        <input type="radio"  name="Gastrointestinal" value="1">
                    
                        <label for="No">No</label>
                        <input type="radio" name="Gastrointestinal" value="0">
                    </div>
                </div>
                <br>
                <div class="input-box1">
                    <label for="Abroad_travel">Abroad travel</label>
                    <div class="opt">
                        <label for="Yes">Yes</label>
                        <input type="radio"  name="Abroad_travel" value="1">
                    
                        <label for="No">No</label>
                        <input type="radio" name="Abroad_travel" value="0">
                    </div>
                </div>
                <br>
                <div class="input-box1">
                    <label for="Contact_with_COVID_Patient">Contact with COVID Patient</label>
                    <div class="opt">
                        <label for="Yes">Yes</label>
                        <input type="radio"  name="Contact_with_COVID_Patient" value="1">
                    
                        <label for="No">No</label>
                        <input type="radio" name="Contact_with_COVID_Patient" value="0">
                    </div>
                </div>
                <br>
                <div class="input-box1">
                    <label for="Attended_Large_Gathering">Attended Large Gathering</label>
                    <div class="opt">
                        <label for="Yes">Yes</label>
                        <input type="radio"  name="Attended_Large_Gathering" value="1">
                    
                        <label for="No">No</label>
                        <input type="radio" name="Attended_Large_Gathering" value="0">
                    </div>
                </div>
                <br>
                <div class="input-box1">
                    <label for="Visited_Public_Exposed_Places">Visited Public Exposed Places</label>
                    <div class="opt">
                        <label for="Yes">Yes</label>
                        <input type="radio"  name="Visited_Public_Exposed_Places" value="1">
                    
                        <label for="No">No</label>
                        <input type="radio" name="Visited_Public_Exposed_Places" value="0">
                    </div>
                </div>
                <br>
                <div class="input-box1">
                    <label for="Family_working_in_Public_Exposed_Places">Family working in Public Exposed Places</label>
                    <div class="opt">
                        <label for="Yes">Yes</label>
                        <input type="radio"  name="Family_working_in_Public_Exposed_Places" value="1">
                    
                        <label for="No">No</label>
                        <input type="radio" name="Family_working_in_Public_Exposed_Places" value="0" >
                    </div>
                </div>
                <br>
                
                <button type="Submit">Submit</button>

            </div>
            
        </form>
        
    </div>
    <!-- <div class="result" style="text-align: center;"></div> -->
    <div class="result" style="text-align: center;">
        <button id="result_ok" class="result_ok">Ok</button>
        <!-- <h1>Your ddddddd</h1> -->
        </div>

    
    <div class="footer-container">

    </div> 

</div>

</body>


<script>
async function postFormDataAsJson({ url, formData }) {
 const plainFormData = Object.fromEntries(formData.entries());
  console.log(plainFormData);
  
 const formDataJsonString = JSON.stringify(plainFormData);
 const fetchOptions = {
     mode:"cors",
     method: "POST",
     headers: {
         "accept": "application/json",
         "Content-Type": "application/json"
     },
     body: formDataJsonString
 };


 const response = await fetch(url, fetchOptions);

 if (!response.ok) {
     const errorMessage = await response.text();
     throw new Error(errorMessage);
 }

 return response.json();
}

async function handleFormSubmit(event) {
 event.preventDefault();

 const form = event.currentTarget;
 const url = "https://covidapi-97mi.onrender.com/predict_covid";

 try {
     const formData = new FormData(form);
     const responseData = await postFormDataAsJson({ url, formData });
     var result = document.querySelector(".result");
    
     result.innerHTML += `<h1>${responseData.prediction}</h1>`;
     var result_button = document.querySelector(".result_ok");
     result.style.display = "flex";
     result_button.addEventListener("click", function(){
        console.log("sudhanshu");
        result.style.display = "none";
        window.location.reload();

     })
     console.log({ responseData });
 } catch (error) {
     console.error(error);
 }
}

const Form = document.getElementById("form");
Form.addEventListener("submit", handleFormSubmit);




</script>
</html>