
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    <link rel="stylesheet" href="bootstrap-5.2.1-dist\css\bootstrap.min.css">

    <link rel="stylesheet" href="../css/health.css">
    <title>Health App</title>
</head>
<body>
    
    <div class="container">
        <div class="nav">
            <div class="head">
                <img src="../images/output-onlinepngtools.png" class="logo">
            </div>
            <div class="links">
               <a href="#boxabout" class="l" id="fs">About</a>
               <a href="#feature" class="l" id="fs1">Features</a>
                <a href="#service" class="l" id="fs2">Services</a>
            </div>
        </div>
     <div class="slide-container">
        <div class="i">
               
            <img src="../images/grpdoc.png" class="grp">
            <div class="caption">
                <h5 class="chotu"> Welcome to HealthBag</h5>
                <p class="mainp">The Science of today is the <br>technology of tommorrow.</p>
                <button class="learn"> Learn more</button>
            </div>
            
        </div>
       
        <!-- <div class="i">
            <img src="../images/ai1.jpg" class="img">
            <div class="caption">
                <p>AI is the new electricity</p>
            </div>
        </div>
        <span class="arrow prev" onclick="controller(-1)">&#10094;</span>
        <span class="arrow next"  onclick="controller(1)">&#10095;</span> -->
    </div> 
    
    <div id="boxabout">
        <div class="boximage">
            <img src="../images/bluerobo.gif">
        </div>
        <div class="aboutsec" id="about">
            <p class="tablehead">About HealthBag</p></th>
            <p class="tablepara">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum,
                         Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis fuga
                          vel ducimus deleniti ad modi deserunt nihil libero! Exercitationem, magni.
                        amet consectetur adipisicing elit. Cum necessitatibus numquam nam assumenda sit quaerat animi
                         quidem, maiores perferendis iusto!</p></td>
          
            <div class="wedo">
                <p class="tablehead">What We do ?</p>
                <div class="dopara">
                    <li>With more Accuracy</li>
                    <li>Ml based model</li>
                    <li>More than one disease checkup</li>
                    <li>Gives best reuslt</li>
                    <li>Ensure the customer</li>
                </div>
             </div>
    
             
            <img src="../images/My project (1).png" class="this">
             
           
        </div>
        
    </div>

    <div class="features" id="feature">
        <div class="headf">
            <h3>Our Features</h3>
        </div>
        <div class="aboutf">
            <div class="quick">
                <img src="../images/clock.png" class="featureimg">
                    <p class="hq">Quick Prediction</p>
                <p class="p">We have used light ML model that can load <br>within no time
                        <!-- without comromising on the<br> accuracy of the prediction.Light models <br>quickly load which helps
                        in better response of <br> the page.</p> -->
                
            </div>
            <div class="quick">
                
                <img src="../images/range.png" class="featureimg">
                <p class="hq">Wide Range</p>
                <p class="p">The Web App provdes a wide range of <br> predicting
                        the contamination multiple <br> infection diseases like Kidney disease.<br>
                        <!-- Diabetes,Liver Infection,Heart Disease & <br> Breast Cancer. </p> -->
                    
                
            </div>
            <div class="quick">
                <img src="../images/accurtae.png" class="aimg">
                
                <p class="hq">Highly Accurate</p>
                <p class="p">Though this app provdes a wide range and <br> high speed the accuracy has not 
                    <!-- <img src="../images/accurtae.png" class="aimg"> -->
                        been <br> comprosed Hyper-parameters have been<br> selected very carefully 
                        <!-- so that the accuracy s <br> not hampered.</p> -->
                    
                
            </div>
            <div class="quick">
                  <img src="../images/clock.png" class="featureimg"></td>
                    <p class="hq">Quick Prediction</p>
                   <p class="p">We have used light ML model that can load <br>within no time
                        <!-- without comromising on the<br> accuracy of the prediction.Light models <br>quickly load which helps
                        in better response of <br> the page.</p> -->
                   
            </div>
            <div class="quick">
                <img src="../images/clock.png" class="featureimg"></td>
                  <p class="hq">Quick Prediction</p>
                 <p class="p">We have used light ML model that can load <br>within no time
                      <!-- without comromising on the<br> accuracy of the prediction.Light models <br>quickly load which helps
                      in better response of <br> the page.</p> -->
                 
          </div>
          <div class="quick">
            <img src="../images/clock.png" class="featureimg"></td>
              <p class="hq">Quick Prediction</p>
             <p class="p">We have used light ML model that can load <br>within no time
                  <!-- without comromising on the<br> accuracy of the prediction.Light models <br>quickly load which helps
                  in better response of <br> the page.</p> -->
             
      </div>

        </div>
    </div>
    <div class="card" id="service">
        <div class="c1">
            <div class="cardhead">
                <h3>Our Services</h3>
            </div>
            <div id="cardpara">
                <p>We offer complete healthcare to individuals with various<br> health concerns.</p>
            </div>
        </div>
        <div class="c2">
            <a  href="../template/heart.html">
                <div class="card1">
                    <img src="../images/newheart.png" alt="heart" class="imgheart">
                   <span>Heart Disease</span> 
                </div>
            </a>
            
            <a  href="../template/diabetes.html">
            
            <div class="card1">
                <img src="../images/output-onlinepngtools (5).png" alt="heart" class="imgkidney">
                <!-- <a href="../template/diabetes.html"> Diabetes</a> -->
                <span>Diabetes</span> 

            </div>
        </a>
        <a  href="../template/liver.html">

            <div class="card1">
                <img src="../images/output-onlinepngtools (2).png" alt="heart" class="imgkidney">
                <!-- <a href="../template/cancer.html"> Liver Disease</a> -->
                <span>Liver Disease</span> 

            </div>
        </a>
        <a  href="../template/covid.html">

            <div class="card1">
                <img src="../images/output-onlinepngtools (6).png" alt="heart" class="imgkidney">
                <!-- <a href="../template/cancer.html">Covid</a> -->
                <span>Covid</span> 

            </div>
        </a>

        </div>
    </div>
    <div class="footer-container">
        <div class="footer">
            <!-- <div class="footerhead h1">
                <h2>About Us</h2>

            </div>
            <div class="footerhead h2">
                <h2>Contact Us</h2>

            </div>
            <div class="footeremail">
                <h2>Join our Newsletter</h2>
                 <input type="email" name="email" placeholder="Enter your email address" id="footer-email"> -->
                <!-- <input type="submit" value="Sign Up" id="footer-submit"> -->
            </div> 

        </div>
        
       
    </div>
    
</div>
    
    <script src="../js/health.js"></script>
</body>
</html>
  
