<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/kidney.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

</head>
<body>
    <div class="nav">
        <div class="topic">
            <h3>HealthBag</h3>
        </div>
        <div class="links">
            <a href="./heart.html" id="h">Heart Disease</a>
            <a href="./kidney.html"  id="k">Kidney Disease</a>
            <a href="./liver.html"  id="l">Liver Disease</a>
            <a href="./cancer.html"  id="c">Cancer</a>
            <a href="./diabetes.html"  id="d">Diabetes</a>
        </div>
        <div id="menu-btn" class="fas fa-bars"></div>
    </div>
    <div class="head">
        <h3>Know Your Chances Of Getting A Kidney Disease In One Click</h3>
    </div>
    <div class="options">
       <div class="form">
        <div class="input-box">
            <label for="kidney">Blood Pressure</label>
            <br>
            <input type="number" name="Blood Pressure" placeholder="Blood Pressure" min="1" max="1000" >
        </div>
        <br>
        <div class="input-box">
            <label for="kidney">Specific Gravity</label>
            <br>
            <input type="number" name="Blood Pressure" placeholder="Specific Gravity" min="1" max="1000" >
        </div>
        <br>
        <div class="input-box">
            <label for="kidney">Albumin</label>
            <br>
            <input type="number" name="Blood Pressure" placeholder="Albumin" min="1" max="1000" >
        </div>
        <br>
        <div class="input-box">
            <label for="kidney">Blood Sugar Level</label>
            <br>
            <input type="number" name="Blood Pressure" placeholder="Blood Sugar Level" min="1" max="1000" >
        </div>
        <br>
        <div class="input-box">
            <label for="kidney">Red Blood Cell Count</label>
            <br>
            <input type="number" name="Blood Pressure" placeholder="Red Blood Cell Count" min="1" max="1000" >
        </div>
        <br>
        <div class="input-box">
        
            <label for="kidney">Pus Cell Count</label>
            <br>
            <input type="number" name="Blood Pressure" placeholder="Pus Cell Count" min="1" max="1000" >
        </div>
        <br>
        <div class="input-box">
            <label for="kidney">Pus Cell Clumps</label>
            <br>
            <input type="number" name="Blood Pressure" placeholder="Pus Cell Clumps" min="1" max="1000" >
        </div>
            <br>
        
       </div>
       <button >Submit</button>
    </div>
    
</body>
</html>